<h2>The name of this repository is <%=@repository.name%></h2>
</br>
<h6>The files that belong to repository:-</h6>
<%=link_to "Download all", "#", class: "basic"%>(Yet to be implemented)
</br>

(Click on any file to download individually)
</br>
<%@repository.code_files.each_with_index do |file,i|%>
    <% if i < @count%>
        <%= link_to file.blob.filename, rails_blob_path(file, disposition: "attachment")%>
    <%end%>
    </br>
<%end%>
